@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset, figure, figcaption {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

fieldset {
  border: none;
}

:root {
  --x: 0;
  --y:0;
}

.all_wrap .tree1 {
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 1000;
  transform: translate(var(--x), 0);
}
.all_wrap .tree2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  z-index: 1000;
}
.all_wrap .tree3 {
  position: absolute;
  right: 0;
  width: 40%;
  z-index: 1000;
}
.all_wrap .tree4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  z-index: 1000;
}
.all_wrap .home .houses {
  position: absolute;
  left: 20%;
  bottom: 130px;
  width: 3%;
  z-index: 106;
  transition: 0.5s;
}
.all_wrap .home .houses_2 {
  position: absolute;
  right: 50%;
  bottom: 140px;
  width: 3%;
  z-index: 105;
  transition: 0.5s;
}
.all_wrap .home .houses_3 {
  position: absolute;
  right: 40%;
  bottom: 35px;
  width: 3%;
  z-index: 105;
  transition: 0.5s;
}
.all_wrap .home .houses_4 {
  position: absolute;
  right: 30%;
  bottom: 190px;
  width: 3%;
  z-index: 105;
  transition: 0.5s;
}
.all_wrap .home .houses_5 {
  position: absolute;
  left: 30%;
  bottom: 190px;
  width: 3%;
  z-index: 105;
  transition: 0.5s;
}
.all_wrap .moon {
  background: url("../images/moon.png") no-repeat center center/cover;
  position: absolute;
  right: 80px;
  top: 30px;
  width: 230px;
  height: 230px;
  z-index: 200;
  transition: 0.5s;
  transform: translate(-50px, 50px) scale(0.7);
}
.all_wrap .snow_ground .snow_layer_1 {
  position: fixed;
  bottom: -40px;
  z-index: 101;
}
.all_wrap .snow_ground .snow_layer_2 {
  position: fixed;
  bottom: -50px;
  z-index: 100;
}
.all_wrap .snow_ground .snow_layer_3 {
  position: fixed;
  bottom: -70px;
}
.all_wrap .back_trees .back_trees_1 {
  position: absolute;
  left: 230px;
  bottom: 145px;
  width: 26px;
  z-index: 103;
}
.all_wrap .back_trees .back_trees_2 {
  position: absolute;
  left: 437px;
  bottom: 189px;
  width: 26px;
  z-index: 103;
}
.all_wrap .back_trees .back_trees_3 {
  position: absolute;
  right: 490px;
  top: 266px;
  width: 26px;
  z-index: 103;
}
.all_wrap .back_trees .back_trees_4 {
  position: absolute;
  right: 736px;
  top: 320px;
  width: 26px;
  z-index: 103;
}
.all_wrap .santa {
  position: relative;
  background: url("../images/santa.png") no-repeat center center/cover;
  width: 222px;
  height: 114px;
  animation-name: santa;
}
.all_wrap .tree_container {
  position: absolute;
  right: 50%;
  bottom: -350px;
  width: 5vw;
  z-index: 105;
  transform: scale(6);
  transition: 0.9s;
}
.all_wrap .tree_container.active {
  bottom: 150px;
}
.all_wrap .tree_container .christmas_tree {
  width: 100%;
}
.all_wrap .tree_container .deco_1 {
  position: absolute;
  left: 37%;
  bottom: 50px;
  width: 0.5vw;
  z-index: 105;
}
.all_wrap .tree_container .deco_2 {
  position: absolute;
  left: 7px;
  bottom: 12px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(40deg);
}
.all_wrap .tree_container .deco_3 {
  position: absolute;
  left: 40px;
  bottom: 30px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(50deg);
}
.all_wrap .tree_container .deco_4 {
  position: absolute;
  left: 20px;
  bottom: 25px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(20deg);
}
.all_wrap .tree_container .deco_5 {
  position: absolute;
  left: 46px;
  bottom: 40px;
  width: 0.5vw;
  z-index: 105;
}
.all_wrap .tree_container .deco_6 {
  position: absolute;
  left: 54px;
  bottom: 12px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(20deg);
}
.all_wrap .tree_container .stickers .sticker {
  position: absolute;
  width: 0.5vw;
  z-index: 105;
}
.all_wrap .tree_container .stickers .sticker[data-name=bell] {
  bottom: 60px;
  left: -20px;
  transform: rotate(60deg);
}
.all_wrap .tree_container .stickers .sticker[data-name=cherry] {
  bottom: 70px;
  right: -20px;
}
.all_wrap .tree_container .stickers .sticker[data-name=snowman] {
  bottom: 70px;
  left: -5px;
}
.all_wrap .tree_container .drag_container .dragarea {
  position: absolute;
  width: 0.5vw;
  z-index: 105;
}
.all_wrap .tree_container .drag_container .dragarea[data-name=bell] {
  position: absolute;
  left: 30px;
  bottom: 18px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(20deg);
}
.all_wrap .tree_container .drag_container .dragarea[data-name=cherry] {
  position: absolute;
  left: 40px;
  bottom: 50px;
  width: 0.5vw;
  z-index: 105;
}
.all_wrap .tree_container .drag_container .dragarea[data-name=snowman] {
  position: absolute;
  left: 28px;
  bottom: 34px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(30deg);
}
.all_wrap .tree_container .stick {
  position: absolute;
  left: 53px;
  bottom: 25px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(-10deg);
}
.all_wrap .tree_container .red_socks {
  position: absolute;
  left: 12px;
  bottom: 42px;
  width: 0.5vw;
  z-index: 105;
}
.all_wrap .tree_container .star {
  position: absolute;
  left: 50%;
  bottom: 73px;
  width: 20px;
  z-index: 105;
  transform: translateX(-50%);
}
.all_wrap .tree_container .ribbon {
  position: absolute;
  left: 27px;
  top: 10px;
  width: 0.5vw;
  z-index: 105;
  transform: rotate(30deg);
}
.all_wrap .tree_container .white_socks {
  position: absolute;
  left: 40px;
  bottom: 15px;
  width: 0.5vw;
  z-index: 105;
}
.all_wrap .snowmans .purplehat_snowman {
  position: absolute;
  left: -13px;
  bottom: 0;
  width: 2vw;
  z-index: 200;
}
.all_wrap .snowmans .redhat_snowman {
  position: absolute;
  right: -9px;
  bottom: 0;
  width: 1vw;
  z-index: 200;
}
.all_wrap .snowmans .red_ribbon_snowman {
  position: absolute;
  right: -12px;
  bottom: 0;
  width: 5px;
  z-index: 200;
}
.all_wrap .snowmans .green_ribbon_snowman {
  position: absolute;
  left: -12px;
  bottom: 0;
  width: 5px;
  z-index: 200;
}

.all_wrap.scrolled {
  /*
      .trees{
          .tree1{
              left:-600px;
          }
          .tree4{
              left: -650px;
              top: -370px;
          }

          .tree3{
              right: -610px
          }
          .tree2{
              bottom: -530px;
          }
      }
      */
}
.all_wrap.scrolled .moon {
  transform: translate(0, 0) scale(1);
}
.all_wrap.scrolled .tree_container {
  bottom: 250px;
}
.all_wrap.scrolled .snowmans .purplehat_snowman {
  width: 1.5vw;
}
.all_wrap.scrolled .home .houses {
  width: 15%;
  left: 80px;
}
.all_wrap.scrolled .home .houses_5 {
  width: 10%;
  left: 19%;
}
.all_wrap.scrolled .home .houses_4 {
  width: 10%;
  right: 5%;
}
.all_wrap.scrolled .home .houses_2 {
  width: 10%;
  right: 25%;
}
.all_wrap.scrolled .home .houses_3 {
  width: 8%;
  right: 15%;
}

.modal {
  font-family: "Nova Square", sans-serif;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 74vh;
  z-index: 200;
  background-color: #fff;
  width: 100%;
  min-width: 500px;
  max-width: 800px;
}

.tab_container {
  text-align: center;
  height: calc(100% - 80px);
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab_container .tab_contents {
  display: none;
}
.tab_container .tab_contents.on {
  display: block;
}

.tab_menu {
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
}
.tab_menu li.active {
  color: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Kanit", sans-serif;
}

body {
  height: 2000px;
  background: url("../images/night_sky.svg") no-repeat center center/cover;
  background-attachment: fixed;
  background-color: #252933;
}

.all_wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/*# sourceMappingURL=common.css.map */
