.wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background: url($imgUrl + 'snowy.svg') no-repeat fixed center top/cover;

    .tree1{
        @include pos($w:50%,$t:0);
    }
    .tree2 {
        @include pos($w:60%, $r:0,$b:0);
    }

    .tree3 {
        @include pos($w:40%,$r:0);
    }
    .tree4{
        @include pos($w:70%, $l:0,$t:0);
    }
    .christmas_tree{
        @include pos($b:130px,$r:60%,$w:5%);
    }
    .houses{
       @include pos($w:10%, $t:62%, $l:10%);
       z-index: 103;
    }

    .houses_2{
        @include pos($w:5%, $b:140px, $l:50%);
    }
    .houses_3{
        @include pos($w:5%, $b:140px, $r:30%);
    }
    .houses_4{
        @include pos($w:5%, $b:120px, $r:20%);
    }
    .moon{
        background:url($imgUrl + 'moon.png') no-repeat center center/cover;
        position: absolute;
        top:50px;
        right:80px;
        width: 150px;
        height:150px;
    }
    .houses_5{
        @include pos($w:5%, $b:120px, $r:10%);
    }

    .snowman_1{
        @include pos($w:20px, $b:120px, $r:60%);
    }
    .snowman_2{
        @include pos ($w:20px, $b:120px, $l:40%);
    }
    .snowman_3{
        @include pos($w:20px,$b:120px,$l:34%);
    }

}
.snow_ground{
    .snow_layer_1{
        @include pos($b:0);
        z-index: 101;
    }
    .snow_layer_2{
        @include pos($b:20px);
        z-index: 100;
    }
    .snow_layer_3{
        @include pos($b:100px);
    }
}

.back_trees{
    .back_trees_1{
        @include pos($w:50px, $b:200px, $l:100px);
        z-index: 103;
    }
}

.santa{
    position: relative;
    background:url($imgUrl + 'santa.png') no-repeat center center/cover;
    width: 222px;
    height: 114px;
    animation-name: santa;
}

// @keyframes santa {
//     0% {

//     }
// }

