.wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .tree1{
        @include pos($w:50%,$t:0);
    }
    .tree2 {
        @include pos($w:60%, $r:0,$b:0);
    }

    .tree3 {
        @include pos($w:40%,$r:0);
    }
    .tree4{
        @include pos($w:70%, $l:0,$t:0);
    }
    .christmas_tree{
        @include pos($b:130px,$r:60%,$w:5%);
    }
    .houses{
       @include pos($w:10%, $t:62%, $l:10%);
    }

    .houses_2{
        @include pos($w:5%, $b:140px, $l:50%);
    }
    .houses_3{
        @include pos($w:5%, $b:140px, $r:30%);
    }
    .houses_4{
        @include pos($w:5%, $b:120px, $r:20%);
    }
    .moon{
        border: 1px solid #fff;
        background-color: #fff;
        width:150px;
        height:150px;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 50px #fff);
        position: absolute;
        top:50px;
        left: 40px;
    }
    .houses_5{
        @include pos($w:5%, $b:120px, $r:10%);
    }

    .snowman_1{
        @include pos($w:20px, $b:120px, $r:60%);
    }
    .snowman_2{
        @include pos ($w:20px, $b:120px, $l:40%);
    }
    .snowman_3{
        @include pos($w:20px,$b:120px,$l:34%);
    }
}
