.wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
   

    .tree1{
        @include pos($w:50%,$t:0,$z:1000);
    }
    .tree2 {
        @include pos($w:60%, $r:0,$b:0,$z:1000);
    }

    .tree3 {
        @include pos($w:40%,$r:0, $z:1000);
    }
    .tree4{
        @include pos($w:70%, $l:0,$t:0,$z:1000);
        &.active{
            transform: translate(-100px, -100px);
        }
    }
    
    
    .home{
        .houses{
           @include pos($w:5%, $b:130px, $l:250px,$z:105);
        }
        .houses_2{
            @include pos($w:3%, $b:140px, $r:50%,$z:105);
        }
        .houses_3{
            @include pos($w:3%, $b:35px, $r:40%,$z:105);
        }
        .houses_4{
            @include pos($w:3%, $b:190px, $r:30%,$z:105);
        }
        .houses_5{
            @include pos($w:3%, $b:190px, $l:30%,$z:105);
        }
    }
    .moon{
        @include bgCover('moon.png');
        @include pos($w:150px, $h:150px, $t:50px,$r:80px);
    }

    .snow_ground{
        .snow_layer_1{
            @include pos($p:fixed, $b:-40px);
            z-index: 101;
        }
        .snow_layer_2{
            @include pos($p:fixed,$b:-50px);
            z-index: 100;
        }
        .snow_layer_3{
            @include pos($p:fixed,$b:-70px);
        }
    }
    
    .back_trees{
        .back_trees_1{
            @include pos($w:26px, $b:145px, $l:230px);
            z-index: 103;
        }
        .back_trees_2{
            @include pos($w:26px, $b:189px, $l:437px);
            z-index: 103;
        }
        .back_trees_3{
            @include pos($w:26px, $t:266px, $r:490px);
            z-index: 103;
        }
        .back_trees_4{
            @include pos($w:26px, $t:320px, $r:736px);
            z-index: 103;
        }
    }
    
    .santa{
        position: relative;
        background:url($imgUrl + 'santa.png') no-repeat center center/cover;
        width: 222px;
        height: 114px;
        animation-name: santa;
    }

    .tree_container{
        @include pos($b:300px,$r:60%,$w:5vw,$z:105);
        transform: scale(3);
        outline: 1px solid red;
        .christmas_tree{
           width: 100%;
        }
        .deco_1{
            @include pos($b:50px, $l:37%, $w:0.5vw, $z:105);
        }
        .deco_2{
            @include pos($b:12px, $l:7px, $w:0.5vw, $z:105);
            transform: rotate(40deg);
        }
        .deco_3{
            @include pos($b:30px, $l:40px, $w:0.5vw, $z:105);
            transform: rotate(50deg);
        }
        .deco_4{
            @include pos($b:25px, $l:20px, $w:0.5vw, $z:105);
            transform: rotate(20deg);
        }
        .deco_5{
            @include pos($b:40px, $l:46px, $w:0.5vw, $z:105);
        }
        .deco_6{
            @include pos($b:12px, $l:54px, $w:0.5vw, $z:105);
            transform: rotate(20deg);
        }
        .cherry{
            @include pos($t:0, $l:65px, $w:0.5vw, $z:105);
        }
        .cherry_gray{
            @include pos($b:60px, $l:42px, $w:0.5vw, $z:105);
            transform: rotate(50deg);
        }
        .deco_bell{
            @include pos($b:50px, $l:-20px, $w:0.5vw, $z:105);
            transform: rotate(60deg);
        }
        .deco_bell_gray{
            @include pos($b:18px, $l:30px, $w:0.5vw, $z:105);
            transform: rotate(20deg);
        }
        .stick{
            @include pos($b:25px, $l:53px, $w:0.5vw, $z:105);
            transform: rotate(-10deg)
        }
        .tree_snowman{
            @include pos($b:70px, $l:-5px, $w:0.5vw, $z:105);
        }
        .tree_snowman_gray{
            @include pos($b:34px, $l:28px, $w:0.5vw, $z:105);
            transform: rotate(30deg)
        }
        .red_socks{
            @include pos($b:42px, $l:12px, $w:0.5vw, $z:105);
        }
        .star{
            @include pos($b:73px, $l:50%, $w:20px, $z:105);
            transform: translateX(-50%);
        }
        .ribbon{
            @include pos($t:10px, $l:27px, $w:0.5vw, $z:105);
            transform: rotate(30deg)
        }
        .white_socks{
            @include pos($b:15px, $l:40px, $w:0.5vw, $z:105);
        }
    }
    

    .snowmans{
        .purplehat_snowman{
            @include pos($b:0, $l:-36px, $w:2vw, $z:105);
        }
        .redhat_snowman{
            @include pos($b:0, $r:-17px, $w:1.5vw, $z:105);
        }
        .red_ribbon_snowman{
            @include pos($b:0, $r:-26px, $w:10px, $z:105);
        }
        .green_ribbon_snowman{
            @include pos($b:0, $l:-13px, $w:10px, $z:105);
        }
    }
}


