.modal{
    font-family: 'Nova Square', sans-serif;
    @include pos($p:fixed,$l:50%, $b:0); 
    transform: translateX(-50%);
    height:74vh;

    z-index: 200;
    background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // justify-content: stretch;
    width:100%;
    min-width:500px;
    max-width:800px; 
}

// .tab_container{
//     // flex-grow:1; 
//     // text-align:center;
//     // overflow:hidden;
//     height:calc(100% - 80px);
//     background-color:gold;
//     display:flex;
//     align-items:center;
//     justify-content:center;

//     .tab_contents {
//         display:none;
//         &.on {
//             display:block;
//         }
//         p{
//             margin-bottom:20px;
//             font-size: 20px;
//         }

//         a{
//             font-weight: 600;
//             color:#fff;
//             background-color: #000;
//             padding:10px;
//             border-radius: 20px;
//             &:first-child{
//                 margin-right:20px;
//             }
//         }
//         img{
//             width: 350px;
//         }
//     }
//     .detail{
//         display: flex;
//         column-gap: 50px;
//     }
    
// }

// .tab_menu{
//     // flex-basis:80px;
//     background-color:blue;
//     position:absolute;
//     left:0;bottom:0;right:0;
//     height:80px;

//     li{
//         &.active{
//             color: #fff;
//         }
//     }
// }

// .close{
//     position: absolute;
//     right: 50px;
//     top: 20px;

//     &:before, &:after{
//         position: absolute;
//         content:"";
//         height: 26px;
//         width: 2px;
//         background-color: #000;
//     }
//     &::before{
//         transform: rotate(45deg);
//         top:-6px;
//         right:3px;
//     }
//     &:after{
//         transform: rotate(-45deg);
//         top:-6px;
//         right:3px;
//     }
// }

.modal_container{
   @include posFull($p:fixed);
   ul{
    display: flex;
    width: 100%;
    height: 100%;
       li{
        flex-basis:25%;
           &:nth-child(odd){background-color: rgb(220, 174, 114)};
        
       };

   }
}