.modal{
    font-family: 'Nova Square', sans-serif;
    @include pos($p:fixed,$l:50%, $b:0); 
    transform: translateX(-50%);
    height:74vh;

    z-index: 200;
    background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // justify-content: stretch;
    width:100%;
    min-width:500px;
    max-width:800px; 
}

.tab_container{
    // flex-grow:1; 
    text-align:center;
    // overflow:hidden;
    height:calc(100% - 80px);
    background-color:gold;
    display:flex;
    align-items:center;
    justify-content:center;

    .tab_contents {
        display:none;
        &.on {
            display:block;
        }
    }
}

.tab_menu{
    // flex-basis:80px;
    background-color:blue;
    position:absolute;
    left:0;bottom:0;right:0;
    height:80px;
}