@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import 'reset','responsible','variables','mixin';

@import 'index','about','works','modal';
@import 'footer';

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
    
}

body{
    height: 2000px;
}
.all_wrap{
    @include bgCover('night_sky.svg');
    background-attachment: fixed;
    @include pos($p:fixed, $l:0,$t:0,$r:0,$b:0);
    overflow: hidden;
}


