@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import 'reset','responsible','variables','mixin';

@import 'index','about','works','modal';
@import 'footer';

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
    
}
.all_wrap{
    @include bgCover('night_sky.svg');
    background-attachment: fixed;
    @include pos($p:fixed, $l:0,$t:0,$r:0,$b:0);
    overflow: hidden;
}

.modal{
    font-family: 'Nova Square', sans-serif;
    @include pos($p:relative,$l:80px, $r:80px,$b:0,$t:200px);
    z-index: 200;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
